.checkbox_wrapper input[type="checkbox"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* custom checkbox */
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  margin-right: 0.5em;
  border: 0.15em solid #007a7e;
  outline: none;
  cursor: pointer;
}

.checkbox_wrapper input:checked {
  background-color: #007a7e;
  position: relative;
}

.checkbox_wrapper input:checked::before {
  content: "24";
  font-size: 1.5em;
  color: #fff;
  position: absolute;
  right: 1px;
  top: -5px;
}
