.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  background-color: transparent;
}

.labelswrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -3rem;
}

.labelsingle_active {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 10rem;
  height: 3rem;
  background-color: #f4f4f4;
  border-radius: 1rem 1rem 0 0;
  cursor: pointer;

  color: #333;
  letter-spacing: 1px;
  font-size: 14px;
}

.labelsingle_inactive {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 10rem;
  height: 3rem;
  border: none;
  background-color: #f4f4f400;
  border-radius: 1rem 1rem 0 0;
  cursor: pointer;

  color: #f4f4f49d;
  letter-spacing: 1px;
  font-size: 14px;
}

.tabscontent {
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: transparent;
}
