.hero_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 4rem;
  height: 36vh;
  border-bottom: 1px solid #ffffff0c;
  color: #f4f4f4;

  background: rgb(132, 169, 140);
  background: linear-gradient(
    0deg,
    rgba(132, 169, 140, 1) 0%,
    rgba(255, 252, 235, 1) 100%
  );

  .hero_container_left {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 100%;
  }
}

.herographic {
  animation: 5s ease-in-out 0.9s infinite upAndDown;
}

.titlebig {
  width: auto;
  font-size: 53px;

  background: linear-gradient(
    to right bottom,
    rgb(255, 255, 255) 30%,
    rgba(255, 255, 255, 0.38)
  );
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

@keyframes upAndDown {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, 10%, 0);
  }
}

@media only screen and (max-width: 1000px) {
  .hero_container {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
