.hero_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 4rem;
  height: 36vh;
  border-bottom: 1px solid #ffffff0c;
  color: #f4f4f4;

  background: rgb(132, 169, 140);
  background: linear-gradient(
    0deg,
    rgba(132, 169, 140, 1) 0%,
    rgba(255, 252, 235, 1) 100%
  );

  .hero_container_left {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 100%;
  }
}
