.buttons_countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  padding: 0.5rem 1.5rem;
  border: 1px solid #96b69d;

  background-color: #84a98c63;
  color: #3b5f43;
  border-radius: 5px;

  cursor: pointer;

  &:hover {
    background-color: #96b69d;
    color: #fff;
  }
}
