.hero_container {
  width: 100%;
  padding: 5rem 10rem;
  height: 38vh;
  background-color: #5252d0;
  color: #f4f4f4;

  .hero_container_left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
