.hero_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 4rem;
  height: 30vh;
  color: #f4f4f4;
  background-color: #84a98c;

  .hero_container_left {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 100%;
  }
}
