.timer_container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  backdrop-filter: blur(5px);
  background-color: rgb(255, 255, 255);
  border-radius: 26px;
  box-shadow: 35px 35px 68px 0px rgba(132, 169, 140, 0.5),
    inset -8px -8px 16px 0px rgba(132, 169, 140, 0.6),
    inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.clockarea {
  width: 75%;
  padding: 2rem 0 0 0;
}

.button_container {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 2rem;
}
